<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriber Dashboard</title>
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css"
/>
<link rel="stylesheet" href="/style.css">
</head>
<body>

    <%- include('../partials/navbar') %>
<div class="container">
    <h1 class="text-center">My Subscriptions</h1>

    <% if (subscriptions.length === 0) { %>
        <p class="desc-txt">No subscriptions found.</p>
    <% } else { %>

        <% subscriptions.forEach(sub => { %>
            <div class="card">

          <div class="row-txt">
            <span class="label-txt">Subscription</span>
            <span class="para-txt"><%= sub.subscriptionName %></span>
          </div>

          <div class="row-txt">
            <span class="label-txt">Package</span>
            <span class="para-txt"><%= sub.packageDuration %></span>
          </div>

          <div class="row-txt">
            <span class="label-txt">Expiry</span>
            <span class="para-txt"><%= sub.expiryDate.toDateString() %></span>
          </div>

          <% if (sub.notes) { %>
            <div class="note-txt">
              <strong>Notes</strong><br>
              <%= sub.notes %>
            </div>
          <% } %>

        </div>

      <% }) %>

    <% } %>

  </div>
</body>
</html>